@font-face {
    font-family: mexcellent;
    src: url(fonts/mexcellent\ rg.ttf);
}

@font-face {
    font-family: neon2;
    src: url(fonts/neon2.ttf)
}

@font-face {
    font-family: discoteque;
    src: url(fonts/Discoteque\ St.ttf)
}

@font-face {
    font-family: sixties;
    src: url(fonts/60s\ Pop.ttf)
}

@font-face {
    font-family: mexcellent-3d;
    src: url(fonts/mexcellent\ 3d.ttf)
}

@font-face {
    font-family: neon;
    src: url(fonts/Neon.ttf)
}

@font-face {
    font-family: disco-diva;
    src: url(fonts/DiscoDiva.ttf)
}

:root {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, .nav-item.nav-link.text-warning, .menu a {
    font-family: neon;
    color: #f39c12;
}

.bold {
    color: #f39c12;
    font-weight: bold;
}
/* 
    Page d'accueil
*/
#home-a {
    height: calc(50vh - 35px);
    z-index: -1;
    position: relative;
   }

.logo-a {
    position: absolute;
    top: 16vh;
    left: 15vw;
    z-index: 1;
    width: 70vw;
    height: auto;
}

#home-b {
    height: calc(50vh - 35px);
    z-index: -1;
    position: relative;
    background-image: url(img/abstract-background-blur-342411.jpg);
    background-size: cover;
    }

.intro {
    background: hsla(280, 17%, 7%, 0.7);
    padding: 5px 5px;
    margin: 5px 5px;
    border-radius: 5px;
}

.container-fluid {
    width: 100%;
}

/* 
    Sections qui suis je, prestations, photos, contact
*/

#whoami, #service-a, #service-b, #service-c, #gallery {
    padding: 70px 0;
    min-height: calc(100vh - 70px);
}

#service-a img, #service-b img, #service-c img {
    height: 250px;
}

.container {
    width: 100%;
}

#gallery {
    padding-left: 0.125em;
    padding-right: 0.125em;
}

#contact {
    padding: 70px 0;
    min-height: calc(60vh - 70px);
}

footer {
    background: #000000;
    color: #fffff0;
    height: 40vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.menu {
    grid-column: 2 / 4;
}

.copyright {
    grid-column: 4 / 5;
}

.social {
    grid-column: 6 / 7;
}

.social>a:hover, .contact>a:hover, .bio>a:hover, .card-footer>a:hover {
    -webkit-animation: neon 1.5s ease-in-out infinite alternate;
    -moz-animation: neon 1.5s ease-in-out infinite alternate;
    animation: neon 1.5s ease-in-out infinite alternate;
    }

@keyframes neon {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ffdd1b, 0 0 70px #ffdd1b, 0 0 80px #ffdd1b, 0 0 100px #ffdd1b, 0 0 150px #ffdd1b;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffdd1b, 0 0 35px #ffdd1b, 0 0 40px #ffdd1b, 0 0 50px #ffdd1b, 0 0 75px #ffdd1b;
    }
}

@media screen and (max-width: 993px) {

    :root {
        scroll-behavior: unset;
    }
    
    #service-a img, #service-b img, #service-c img {
        height: 250px;
    }

    footer {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .menu {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    
    .copyright {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    
    .social {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

}

@media screen and (max-width: 768px) {
    .logo-a {
        top: 16vh;
        left: 5vw;
        width: 90vw;
        height: auto;
    }
    #service-a img, #service-b img, #service-c img {
        height: 200px;
    }

    footer {
        grid-template-columns: 1fr 1fr;
    }
    
    .menu {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    
    .social {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .copyright {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
}

@media screen and (max-height: 574px) {
    #contact {
        min-height: calc(45vh - 70px);
    }

    footer {
        height: 55vh;
    }
}