@font-face {
    font-family: mexcellent;
    src: url(fonts/mexcellent\ rg.ttf);
}

@font-face {
    font-family: neon2;
    src: url(fonts/neon2.ttf)
}

@font-face {
    font-family: discoteque;
    src: url(fonts/Discoteque\ St.ttf)
}

@font-face {
    font-family: sixties;
    src: url(fonts/60s\ Pop.ttf)
}

@font-face {
    font-family: mexcellent-3d;
    src: url(fonts/mexcellent\ 3d.ttf)
}

@font-face {
    font-family: neon;
    src: url(fonts/Neon.ttf)
}

:root {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, .nav-item.nav-link.text-warning {
    font-family: neon;
    color: #f39c12;
}
/* 
    Page d'accueil
*/
#home-a {
    height: calc(42vh - 35px);
    z-index: -1;
    position: relative;
   }

.logo-a {
    position: absolute;
    top: 16vh;
    left: 15vw;
    z-index: 1;
    width: 70vw;
    height: auto;
}

#home-b {
    height: calc(58vh - 35px);
    z-index: -1;
    position: relative;
   }

.container-fluid {
    width: 100%;
}

/* 
    Sections qui suis je, prestations, photos, contact
*/

#whoami, #service-a, #service-b, #service-c, #gallery {
    padding: 70px 0;
    min-height: calc(100vh - 70px);
}

.container {
    width: 100%;
}

#contact {
    padding: 70px 0;
    min-height: calc(60vh - 70px);
}

footer {
    background: #000000;
    color: #fffff0;
    height: 40vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.menu {
    grid-column: 1 / 2;
}

.copyright {
    grid-column: 2 / 3;
}

.social {
    grid-column: 3 / 4;
}

a:hover {
    -webkit-animation: neon 1.5s ease-in-out infinite alternate;
    -moz-animation: neon 1.5s ease-in-out infinite alternate;
    animation: neon 1.5s ease-in-out infinite alternate;
    }

@keyframes neon {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ffdd1b, 0 0 70px #ffdd1b, 0 0 80px #ffdd1b, 0 0 100px #ffdd1b, 0 0 150px #ffdd1b;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffdd1b, 0 0 35px #ffdd1b, 0 0 40px #ffdd1b, 0 0 50px #ffdd1b, 0 0 75px #ffdd1b;
    }
}

  @media screen and (max-width: 768px) {
    footer {
        grid-template-columns: 1fr 1fr;
    }
    
    .menu {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    
    .social {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .copyright {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
}