@font-face {
    font-family: mexcellent;
    src: url(fonts/mexcellent\ rg.ttf);
}

@font-face {
    font-family: neon2;
    src: url(fonts/neon2.ttf)
}

@font-face {
    font-family: discoteque;
    src: url(fonts/Discoteque\ St.ttf)
}

@font-face {
    font-family: sixties;
    src: url(fonts/60s\ Pop.ttf)
}

@font-face {
    font-family: mexcellent-3d;
    src: url(fonts/mexcellent\ 3d.ttf)
}

@font-face {
    font-family: neon;
    src: url(fonts/Neon.ttf)
}

:root {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, .nav-item.nav-link.text-warning {
    font-family: neon;
    color: #daa520;
}
/* 
    Page d'accueil
*/
#home-a {
    height: 40vh;
    z-index: -1;
    position: relative;
   }

.logo-a {
    position: absolute;
    top: 16vh;
    left: 15vw;
    z-index: 1;
    width: 70vw;
    height: auto;
}

#home-b {
    height: 50vh;
    z-index: -1;
    position: relative;
   }

.container-fluid {
    width: 100%;
}

/* 
    Sections qui suis je, prestations, photos, contact
*/

#whoami, #service-a, #service-b, #service-c, #gallery, #contact {
    min-height: 100vh;
    /* position: relative;
    top: 50%;
    transform: translateY(-50%); */
}

.container-fluid {
    width: 100%;
}
